/* setup */

html
{
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after
{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

.site-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site-flex > * { 
    flex: 0;
}

/* headers */

.site-header
{
    padding: 10px;
    border-block-end: 2px solid #333;
    background-color: #64552b;

    font-family: 'Red Rose', cursive;
    font-size: 4rem;

    letter-spacing: 2px;
}



/* navbar */

.navbar
{
    list-style-type: none;
    border-bottom: 1px solid #333;
    background-color: #817143;
    font-size: 1.8rem;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

.navbar li
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    float: left;   
}


.navbar li a
{
    display: block;
    padding: 1em 2em;

    text-align: center;
    text-decoration: none;
    outline: none;

    color: black;
}


/* popular posts */

main.popular-posts {
    background-color: #918a75;
    flex: 1;
}
