/* setup */

html
{
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after
{
    margin: 0px;
    box-sizing: inherit;
    padding: 0px;
}

.site-flex {
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.site-flex > * { 
    flex: 0;
}

.site-flex > .homepage-main {
    flex: 1;
    flex-direction: column;
    display: flex;    
    background-color: #918a75;
    
}


/* headers */

.site-header {

    border-block-end: 2px solid #333;
    padding: 10px;
    
    background-color: #64552b;

    font-family: 'Red Rose', cursive;
    font-size: 4rem;
    letter-spacing: 2px;
}



/* navbar */

.navbar
{
    overflow: hidden;

    margin: 0px;
    border-bottom: 1px solid #333;
    padding: 0px;

    background-color: #817143;
    font-size: 1.8rem;
        
    list-style-type: none;

}

.navbar li
{
    float: left;  
    border-left: 1px solid black;
    border-right: 1px solid black;
     
}


.navbar li a
{
    display: block;
    
    padding: 1em 2em;

    text-align: center;
    text-decoration: none;
    
    outline: none;
    color: black;
}


/* popular posts */

.popular-posts-header {
    flex: 0 15%;

    align-items: center;
    justify-content: flex-start;

    display: flex;

    padding-left: 5%;
    font-size: 1.5rem;   
}

.popular-posts {  
    flex: 1;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    display: flex;
}

.popular-posts > section {
    flex: 0 28%;

    border: 1px solid black;
    height: 45%;

    background-color: gainsboro;
}

.popular-posts > section:hover {
    animation: expand 1s forwards;
    background-color: rgb(212, 143, 143);
}

@keyframes expand {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
  
}




